@* <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RoPhim - MovieWebsite</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/navigation.css" asp-append-version="true" />
</head>

<body>
    <header class="fly fixed">
        <div class="header-elements">
            <div class="for-mobile menu-toggle">
                <div class="icon-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="for-mobile search-toggle">
                <div class="icon-search">
               
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <a id="logo" title="RoPhim" href="/movies">
           
                <img src="https://www.rophim.me/images/logo.svg" alt="RoPhim">
            </a>
            <div id="search" class="">
                <div class="search-elements">
                    <div class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <input id="main-search" class="search-input" placeholder="Tìm kiếm phim, diễn viên"
                        autocomplete="off">
                </div>
            </div>
            <div class="el-group">
                <div id="main_menu">
                    <div class="menu-item">
                        <a title="Chủ đề" href="/genre/index">Chủ Đề</a>
                    </div>
                    <div class="menu-item">
                        <a title="Thể loại" href="/the-loai">Thể loại</a>
                    </div>
                    <div class="menu-item">
                        <a title="Phim lẻ" href="/phim-le">Phim Lẻ</a>
                    </div>
                    <div class="menu-item">
                        <a title="Phim bộ" href="/phim-bo">Phim Bộ</a>
                    </div>
                    <div class="menu-item">
                        <a title="Phim bộ" href="/phim-bo">Quốc gia</a>
                    </div>
                    <div class="menu-item">
                        <a title="Diễn viên" href="/dien-vien">Diễn Viên</a>
                    </div>
                    <div class="menu-item">
                        <a title="Lịch chiếu" href="/lich-chieu">Lịch chiếu</a>
                    </div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="app-download">
                    <div class="dropdown">
                        <a class="app-download-button">
                            <div class="inc-icon">
                                <svg id="Pc" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.9998 16.8992C11.1655 16.8992 11.2998 16.7649 11.2998 16.5992V11.5982C11.2998 9.28322 13.1838 7.39922 15.4998 7.39922H18.7998C18.9238 7.39922 19.0446 7.41106 19.1616 7.43327C19.3745 7.47368 19.5998 7.32682 19.5998 7.11012V6.69922C19.5998 6.67022 19.5968 6.64022 19.5918 6.61222C19.2488 4.66722 17.4468 3.19922 15.4008 3.19922H6.79982C4.42882 3.19922 2.49982 5.12822 2.49982 7.49922V12.5982C2.49982 14.9692 4.42882 16.8992 6.79982 16.8992H8.24282L7.86182 19.2492H5.85982C5.44582 19.2492 5.10982 19.5852 5.10982 19.9992C5.10982 20.4132 5.44582 20.7492 5.85982 20.7492H10.7598C11.1738 20.7492 11.5098 20.4132 11.5098 19.9992C11.5098 19.5852 11.1738 19.2492 10.7598 19.2492H9.38082L9.76182 16.8992H10.9998Z"
                                        fill="currentColor"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M17.1912 18.4564C16.7712 18.4564 16.4302 18.1154 16.4302 17.6954C16.4302 17.2754 16.7712 16.9344 17.1912 16.9344C17.6112 16.9344 17.9522 17.2754 17.9522 17.6954C17.9522 18.1154 17.6112 18.4564 17.1912 18.4564ZM18.8002 8.90039H15.5002C14.0362 8.90039 12.8002 10.1364 12.8002 11.5994V18.0994C12.8002 19.5884 14.0112 20.7994 15.5002 20.7994H18.8002C20.2892 20.7994 21.5002 19.5884 21.5002 18.0994V11.5994C21.5002 10.1364 20.2642 8.90039 18.8002 8.90039Z"
                                        fill="#ffffff"></path>
                                </svg>
                            </div>
                            <div class="text text-light">
                                <span>Tải ứng dụng</span>
                                <strong>RoPhim</strong>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="main_user">
                    <a class="button-user button-login">
                        <div class="line-center">
                            <i class="fa-solid fa-user ms-1"></i>
                            <span>Thành viên</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="container1">
      
        <main role="main" >
            @RenderBody()
            <!-- Content will be rendered here -->
        </main>
    </div>
 

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)

</body>

</html> *@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RoPhim - MovieWebsite</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/navigation.css" asp-append-version="true" />
    <!-- Đảm bảo file rophim.css của bạn được load -->
    @* <link rel="stylesheet" href="~/css/rophim.css" asp-append-version="true" />  *@
</head>

<body>
    <header class="fly fixed">
        <div class="header-elements">
            <div class="for-mobile menu-toggle">
                <div class="icon-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="for-mobile search-toggle">
                <div class="icon-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <a id="logo" title="RoPhim" href="/movies">
                <img src="https://www.rophim.me/images/logo.svg" alt="RoPhim">
            </a>
            <div id="search" class="">
                <div class="search-elements">
                    <div class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <input id="main-search" class="search-input" placeholder="Tìm kiếm phim, diễn viên"
                        autocomplete="off">
                </div>
            </div>
            <div class="el-group">
                <div id="main_menu">
                    <div class="menu-item">
                        <a title="Chủ đề" href="/genre/index">Chủ Đề</a>
                    </div>
                    <!-- START: Thể loại Dropdown -->
                    <div class="the-loai-wrapper">
                        <div class="menu-item">
                            <a title="Thể loại" href="/the-loai" id="theLoaiLink">Thể loại</a>
                        </div>
                        <div class="the-loai-dropdown" id="genreDropdown">
                            <div class="genre-grid">
                                <!-- Cột 1 -->
                                <a href="#">Anime</a>
                                <a href="#">Chuyển Thể</a>
                                <a href="#">Chương Trình Tr...</a>
                                <a href="#">Cổ Trang</a>
                                <a href="#">Cổ Tích</a>
                                <a href="#">Disney</a>
                                <a href="#">Giả Tưởng</a>
                                <a href="#">Hành Động</a>
                                <a href="#">Kinh Dị</a>
                                <a href="#">LGBT+</a>
                                <a href="#">Miền Viễn Tây</a>
                                <a href="#">Phép Thuật</a>
                                <a href="#">Thể Thao</a>
                                <a href="#">Tài Liệu</a>
                                <a href="#">Viễn Tưởng</a>
                                <a href="#">Đời Thường</a>

                                <!-- Cột 2 -->
                                <a href="#">Bí Ẩn</a>
                                <a href="#">Chính Kịch</a>
                                <a href="#">Cung Đấu</a>
                                <a href="#">Gay Cấn</a>
                                <a href="#">Hoàng Cung</a>
                                <a href="#">Hình Sự</a>
                                <a href="#">Kinh Điển</a>
                                <a href="#">Lãng Mạn</a>
                                <a href="#">Nghề Nghiệp</a>
                                <a href="#">Siêu Anh Hùng</a>
                                <a href="#">Truyền Hình Thự...</a>
                                <a href="#">Tâm Lý</a>
                                <a href="#">Võ Thuật</a>

                                <!-- Cột 3 -->
                                <a href="#">Chiến Tranh</a>
                                <a href="#">Chiếu Rạp</a>
                                <a href="#">Chính Luận</a>
                                <a href="#">Chính Trị</a>
                                <a href="#">Cách Mạng</a>
                                <a href="#">Cổ Điển</a>
                                <a href="#">DC</a>
                                <a href="#">Gia Đình</a>
                                <a href="#">Giáng Sinh</a>
                                <a href="#">Hoạt Hình</a>
                                <a href="#">Hải</a>
                                <a href="#">Học Đường</a>
                                <a href="#">Khoa Học</a>
                                <a href="#">Kịch Nói</a>
                                <a href="#">Kỳ Ảo</a>
                                <a href="#">Lịch Sử</a>
                                <a href="#">Marvel</a>
                                <a href="#">Nhạc Kịch</a>
                                <a href="#">Phiêu Lưu</a>
                                <a href="#">Thiếu Nhi</a>
                                <a href="#">Thần Thoại</a>
                                <a href="#">Tuổi Trẻ</a>
                                <a href="#">Tình Cảm</a>
                                <a href="#">Tập Luyện</a>
                                <a href="#">Xuyên Không</a>
                                <a href="#">Đau Thương</a>
                            </div>
                        </div>
                    </div>
                    <!-- END: Thể loại Dropdown -->

                    <div class="menu-item">
                        <a title="Phim lẻ" href="/phim-le">Phim Lẻ</a>
                    </div>
                    <div class="menu-item">
                        <a title="Phim bộ" href="/phim-bo">Phim Bộ <span class="new-label">NEW</span></a>
                    </div>
                    @* <div class="menu-item new-item-xem-chung">
                        <a title="Xem Chung" href="/xem-chung">Xem Chung</a>
                    </div> *@

                    @* Chỉ hiển thị nút "Xem Cùng Nhau" nếu Controller đã cung cấp CurrentMovieId *@
                    @if (ViewBag.CurrentMovieId != null)
                    {
                        <div class="menu-item">
                            <form asp-controller="WatchParty" asp-action="Create" method="post" class="d-inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="movieId" value="@ViewBag.CurrentMovieId" />
                                <button type="submit" class="btn btn-success" style="padding: 6px 12px; line-height: 1.5;">
                                    <i class="fas fa-users"></i> Xem Cùng Nhau
                                </button>
                            </form>
                        </div>
                    }
                    <div class="menu-item quoc-gia-item">
                        <a title="Quốc gia" href="/quoc-gia">Quốc gia</a>
                    </div>
                    <div class="menu-item">
                        <a title="Diễn viên" href="/dien-vien">Diễn Viên</a>
                    </div>
                    <div class="menu-item">
                        <a title="Lịch chiếu" href="/lich-chieu">Lịch chiếu</a>
                    </div>
                    <!-- NÚT MỚI ĐỂ MỞ MODAL THAM GIA PHÒNG -->
                    <div class="menu-item">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#joinRoomModal" class="text-warning">
                            <i class="fas fa-sign-in-alt"></i> Tham gia phòng
                        </a>
                    </div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="app-download">
                    <div class="dropdown">
                        <a class="app-download-button">
                            <div class="inc-icon">
                                <svg id="Pc" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.9998 16.8992C11.1655 16.8992 11.2998 16.7649 11.2998 16.5992V11.5982C11.2998 9.28322 13.1838 7.39922 15.4998 7.39922H18.7998C18.9238 7.39922 19.0446 7.41106 19.1616 7.43327C19.3745 7.47368 19.5998 7.32682 19.5998 7.11012V6.69922C19.5998 6.67022 19.5968 6.64022 19.5918 6.61222C19.2488 4.66722 17.4468 3.19922 15.4008 3.19922H6.79982C4.42882 3.19922 2.49982 5.12822 2.49982 7.49922V12.5982C2.49982 14.9692 4.42882 16.8992 6.79982 16.8992H8.24282L7.86182 19.2492H5.85982C5.44582 19.2492 5.10982 19.5852 5.10982 19.9992C5.10982 20.4132 5.44582 20.7492 5.85982 20.7492H10.7598C11.1738 20.7492 11.5098 20.4132 11.5098 19.9992C11.5098 19.5852 11.1738 19.2492 10.7598 19.2492H9.38082L9.76182 16.8992H10.9998Z"
                                        fill="currentColor"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M17.1912 18.4564C16.7712 18.4564 16.4302 18.1154 16.4302 17.6954C16.4302 17.2754 16.7712 16.9344 17.1912 16.9344C17.6112 16.9344 17.9522 17.2754 17.9522 17.6954C17.9522 18.1154 17.6112 18.4564 17.1912 18.4564ZM18.8002 8.90039H15.5002C14.0362 8.90039 12.8002 10.1364 12.8002 11.5994V18.0994C12.8002 19.5884 14.0112 20.7994 15.5002 20.7994H18.8002C20.2892 20.7994 21.5002 19.5884 21.5002 18.0994V11.5994C21.5002 10.1364 20.2642 8.90039 18.8002 8.90039Z"
                                        fill="#ffffff"></path>
                                </svg>
                            </div>
                            <div class="text text-light">
                                <span>Tải ứng dụng</span>
                                <strong>RoPhim</strong>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="main_user">
                    <a class="button-user button-login">
                        <div class="line-center">
                            <i class="fa-solid fa-user ms-1"></i>
                            <span>Thành viên</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>


    <div class="container1">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- Trong file _Layout.cshtml -->


    <!-- Trong file _Layout.cshtml -->

    <!-- Modal để nhập mã mời -->
    <div class="modal fade" id="joinRoomModal" tabindex="-1" aria-labelledby="joinRoomModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- THÊM ID CHO FORM: id="joinRoomForm" -->
                <form asp-controller="WatchParty" asp-action="Join" method="post" id="joinRoomForm">
                    @Html.AntiForgeryToken()

                    <div class="modal-header">
                        <h5 class="modal-title" id="joinRoomModalLabel">Tham gia phòng xem chung</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <p>Nhập mã mời bạn bè đã gửi cho bạn để cùng xem phim.</p>
                        <input type="text" name="inviteCode" class="form-control" placeholder="Nhập mã mời..." required>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <!-- ĐỔI type="submit" THÀNH type="button" VÀ THÊM ID -->
                        <button type="button" id="joinRoomSubmitBtn" class="btn btn-primary">Tham gia</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>


    @* Đặt script của bạn ở đây, hoặc trong một file JS riêng và gọi nó *@
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const theLoaiLink = document.getElementById('theLoaiLink');
            const genreDropdown = document.getElementById('genreDropdown');
            const theLoaiWrapper = document.querySelector('.the-loai-wrapper');

            if (theLoaiLink && genreDropdown && theLoaiWrapper) {
                theLoaiLink.addEventListener('click', (event) => {
                    event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ 'a'
                    genreDropdown.classList.toggle('show');
                });

                // Đóng dropdown khi click ra ngoài
                document.addEventListener('click', (event) => {
                    // Nếu click không phải là bên trong dropdown và không phải là link "Thể loại"
                    if (!theLoaiWrapper.contains(event.target) && genreDropdown.classList.contains('show')) {
                        genreDropdown.classList.remove('show');
                    }
                });
            }
        });
        const joinRoomModalEl = document.getElementById('joinRoomModal');
        if (joinRoomModalEl) {
            const inviteCodeInput = joinRoomModalEl.querySelector('input[name="inviteCode"]');

            // Lắng nghe sự kiện KHI modal được hiển thị xong
            joinRoomModalEl.addEventListener('shown.bs.modal', function () {
                // Đặt focus vào ô input
                if (inviteCodeInput) {
                    inviteCodeInput.focus();
                }
            });
        }
        const joinRoomForm = document.getElementById('joinRoomForm');
        const joinRoomSubmitBtn = document.getElementById('joinRoomSubmitBtn');

        if (joinRoomForm && joinRoomSubmitBtn) {
            // Lắng nghe sự kiện click trên nút "Tham gia"
            joinRoomSubmitBtn.addEventListener('click', function () {
                // Tự tay ra lệnh cho form submit
                console.log("Nút Tham gia trong modal được nhấn, đang submit form...");
                joinRoomForm.submit();
            });
        }
    </script>

    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)

</body>

</html>